body{
    background-color: #E5E5E5;
    width: 0px;
    height: 0px;   
}

header{
    margin-top: 50px;
}

.vector{
    margin-left: 70px;
    margin-top:auto; 
}

main{
    display: flex;
    margin-left: 80px;
    margin-bottom: 50px;
}

.botonEncriptar{
    display: flex;
    flex-direction: row;
    margin-top: 380px;
    margin-left: 30px;
}

.botonDesencriptar{
    display: flex;
    flex-direction: row;
    margin-top: -66px;
    margin-left: 350px;
}

button{
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 250px;
    height: 67px;
    background: #0A3871;
    color: white;
    border: 1px solid #0A3871;
    font-size: 16px;
    font-family:'Arial';
    font-style: normal;
    line-height: 19px;
    text-align: center;
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;
}

button:hover{
    background-color: #356EA9;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#copiar{
    box-sizing: border-box;
    flex-direction: row;
    align-items: flex-start;
    width: 250px;
    height: 67px;
    font-size: 16px;
    font-family:'Arial';
    background: #D8DFE8;
    border: 1px solid #0A3871;
    color:rgb(0, 0, 0);
    border-radius: 24px;
    order: 1;
    flex-grow: 0;
    margin-left: 210px;
    margin-top: 382px;
    cursor: pointer;
}

#copiar:hover{
    background-color: #356EA9;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#textodeIngreso{
    position: absolute;
    width: 577px;
    height: 48px;
    left: 120px;
    top: 168px;
    text-indent:4%;
    font-family: 'Arial';
    font-style:italic;
    font-size: 20px;
    line-height: 230%;
    color: #0A3871;
    background: #E5E5E5;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#textodeDesencriptador{
    position: absolute;
    width: 500px;
    height: 380px;
    left: 760px;
    top: 40px;
    text-indent:8%;
    font-size: 150%;
    font-family: 'Arial';
    font-style:italic;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 24px;
    background-image: url("imagenes/Muñeco.png");
    background-repeat: no-repeat;
    background-position: 18px;
    background-size: 300px;
    background-position:center;
    background-position-y: 50px; 
}


